language: scala
scala:
  - 2.13.1
jdk:
  - openjdk13
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
    - $HOME/.cache/coursier
env:
  - AWS_ACCESS_KEY=x AWS_SECRET_KEY=x
script:
  - sbt ++$TRAVIS_SCALA_VERSION clean compile test doc
branches:
  only:
    - master
before_cache:
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete